

/* standard elements */
html {min-height: 100%;}

* {
	margin: 0;
	padding: 0;
}

a {
	color: #06e;
	text-decoration: none;
}
a:hover {
	color: #06e;
	text-decoration: underline;
}

body {
	background: #E7E7E2 url('img/body.jpg') no-repeat center top;
	color: #000;
	font: normal 70.0% Verdana,sans-serif;
	padding-top: 32px;
}

p,code,ul {
	padding-bottom: 0.2em;
	padding-top: 1em;
}

li {list-style: none;}

h1 {font: normal 2.2em Verdana,sans-serif;}
h2 {font: normal 1.4em Verdana,sans-serif;}
h3 {font: normal 1.0em Verdana,sans-serif;}


form,input {margin: 0; padding: 0; display: inline;}

code {
	background: #FFF;
	border: 1px solid #EEE;
	border-left: 6px solid #CCC;
	color: #666;
	display: block;
	font: normal 1em Tahoma,sans-serif;
	line-height: 1.6em;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}

blockquote {
	background: url(img/quote.gif) no-repeat;
	display: block;
	font-weight: bold;
	padding-left: 28px;
}

h1,h2,h3 {padding-top: 16px; color: #000; margin-bottom: 4px;}

/* misc */
.clearer {clear: both; font-size: 0;}
.left {float: left;}
.right {float: right;}

/* structure */
.inner-container {
	border: 2px solid #D7D7D2;
	background: #FFF;
	font-size: 1.2em;
	margin: 0 auto;
	padding: 10px;
	width: 780px;
}

.outer-container {
	background: url('img/container.jpg') no-repeat center bottom;
	padding-bottom: 64px;
}

/* header & title */
.header {
	background: #222 url('img/header.png') no-repeat;
	height: 160px;
	margin-bottom: 5px;
	text-align: center;
}
.header .title {
	color: #FFF;
	padding-top: 50px;
}
.header .title .sitename a {
	color: #FFF;
	font: normal 3em sans-serif;
	padding-bottom: 2px;
	text-decoration: none;
}
.header .title a:hover {border-color: #F60;}
.header .title .slogan {
	font: normal 1.1em Verdana,sans-serif;
	padding-top: 6px;
}

/* path */
.path {
	background: #e09000;
	color: #FFF;
	font: normal 1.1em Verdana,sans-serif;
	padding: 8px 12px;
	height: 20px;
}
.path a {
	color: #ffe;
	text-decoration: none;
}
.path a:hover {
	color: #ffe;
	text-decoration: underline;
}
/*.path .right, .path .right a*/

/* main */
.main {
	background: url(img/main.gif) repeat-y;
	border-top: 6px solid #FFF;
	padding: 0px 12px 0 0;
}

/* content */
.content {
	float: right;
	width: 546px;
}
.content .descr {
	color: #664;
	font-size: 0.9em;
	margin-bottom: 6px;
}
.content li {
	list-style: url(img/li.gif);
	margin-left: 18px;
	margin-bottom: 0;
}
.content .leftimg {
	margin: 8px;
	padding: 4px 4px 2px 4px;
	background: #fff;
	border: 1px dotted #ddc;
	float: left;
}
.content .rightimg {
	margin: 8px;
	padding: 4px 4px 2px 4px;
	background: #fff;
	border: 1px dotted #ddc;
	float: right;
}
.content p {font-family: "Lucida Sans Unicode",sans-serif;}


/* Tables */
table.data2 {
	border: 0;
	border-collapse:collapse;
	width: 100%;
	margin: 10px 0 10px 0;
}
table.data2 td {
	color: black;
	padding: 6px;
}
table.data2 tr.d0 td {
	border-bottom: 4px double #000000;
	background-color: #e8e8e8;
	color: black;
}
table.data2 tr.d1 td {
	background-color: #fafafa;
}
table.data2 tr.d2 td {
	background-color: #e8e8e8;
}
	


/* New image classes */
.mainimage {
	margin: 10px 0px 16px 6px;
	border: 1px dotted #ccc;
	width: 174px;
	float: left;
}
.mainimage img {
	margin: 4px;
}
.mainimage p {
	padding: 4px 8px;
	font-size: 0.9em;
}
.peopleimg {
	margin: 6px 0px 0px 6px;
	border: 1px dotted #ccc;
	float: left;
}
.peopleimg img {
	margin: 4px;
	border-style: none; 
}
.peopleimg p {
	padding: 0px 8px;
	font-size: 0.9em;
}


/* navigation */
.navigation {
	float: left;
	width: 210px;
}
.navigation h2 {
	color: #5A5A43;
	font: normal 1.1em Verdana,sans-serif;
	line-height: 40px;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #EAEADA;
}
.navigation h2 a {
	color: #fff;
	font: normal 1.1em Verdana,sans-serif;
	line-height: 40px;
	text-decoration:none;
	display: block;
	padding: 0 0 0 8px;
}
.navigation h2 a:hover {
	background: #273039;
	color: #fff;	
}
.navigation ul {
	padding: 0;
	/*border-top: 1px solid #EAEADA;*/
}
.navigation li {
	border-bottom: 1px solid #EAEADA;
	/*list-style: square;*/
	color: #fff;
	margin: 0 0 0 20px;
}
.navigation li a {
	font-size: 1.0em;
	color: #fff;
	display: block;
	padding: 8px 0 8px 5%;
	text-decoration: none;
	width: 95%;
}
.navigation li a:hover {
	background: #273039;
	color: #fff;	
}

/* footer */
.footer {
	background: #e09000;
	color: #ffe;
	font: bold 1em sans-serif;
	margin-top: 5px;
	padding: 10px 12px;
}
.footer a {
	color: #ffe;
	text-decoration: none;
}
.footer a:hover {color: #ffe; text-decoration: underline;}
.footer .right, .footer .right a {color: #ffe;}
.footer .right a:hover {color: #ffe; text-decoration: underline;}

